body {
  font-family: sans-serif;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
  }
  body.loaded {
    transform: translateZ(0);
    transition: background-image 0.5s ease-in-out;
  }
  #image-wrapper {
    position: relative;
    width: 800px;
  }
  #dynamic-image {
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    width: 800px;
  }
  #content {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }

  
  #content.loading {
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  
  #content.loaded {
    opacity: 1;
    transition: opacity 0.5s ease;
  }


  #dynamic_iframe {
    transition: opacity 1s ease-in-out;
    opacity: 0;
  }
  .loaded #dynamic_iframe {
    opacity: 1;
  }
    
  * {
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.4), 0 0 10px rgba(0, 0, 0, 0.5), 0 0 15px rgba(0, 0, 0, 0.6), 0 0 20px rgba(0, 0, 0, 0.7), 0 0 25px rgba(0, 0, 0, 0.8), 0 0 30px rgba(0, 0, 0, 0.9), 0 0 35px rgba(0, 0, 0, 1);
    color: #FFFFFF;
  }

/* top bar nav */
.topnav {
  position: relative;
  overflow: visible; /* Changed from hidden to visible */
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #f2ff00ac;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.topnav-right {
  float: right;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content,
.dropdown-content-sub {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  will-change: transform;
  transform: translate3d(0, 0, 0);
}

.dropdown-content a,
.dropdown-content-sub a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover,
.dropdown-content-sub a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content,
.dropdown-sub:hover .dropdown-content-sub {
  display: block;
}

.dropdown-sub {
  position: relative;
}

.dropdown-content-sub {
  left: 100%;
  top: 0;
  animation: slideinTopToBottom 0.2s forwards;
}

@keyframes slidein {
  from {
    transform: translate3d(-200px, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideinSub {
  from {
    transform: translate3d(200px, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

.dropdown-content {
  animation: slidein 0.2s forwards;
}

  /* Responsive navigation menu (for mobile devices) */
  @media screen and (max-width: 600px) {
    .topnav a, .topnav-right {
      float: none;
      display: block;
    }

  }