body {
  font-family: sans-serif;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
  }
  body.loaded {
    transform: translateZ(0);
    transition: background-image 0.5s ease-in-out;
  }
  #image-wrapper {
    position: relative;
    width: 800px;
  }
  #dynamic-image {
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    width: 800px;
  }
  #content {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }

  
  #content.loading {
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  
  #content.loaded {
    opacity: 1;
    transition: opacity 0.5s ease;
  }


  #dynamic_iframe {
    transition: opacity 1s ease-in-out;
    opacity: 0;
  }
  .loaded #dynamic_iframe {
    opacity: 1;
  }
    
  * {
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.4), 0 0 10px rgba(0, 0, 0, 0.5), 0 0 15px rgba(0, 0, 0, 0.6), 0 0 20px rgba(0, 0, 0, 0.7), 0 0 25px rgba(0, 0, 0, 0.8), 0 0 30px rgba(0, 0, 0, 0.9), 0 0 35px rgba(0, 0, 0, 1);
    color: #FFFFFF;
  }

/* top bar nav */
.topnav {
  position: relative;
  overflow: visible;
  background-color: #333;
  font-family: Arial;
}

.topnav a, .dropbtn {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
  border: none;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown Styles */
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  will-change: transform;
  transform: translate3d(0, 0, 0);
  animation: slidein 0.5s forwards;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Submenu Styles */
.dropdown-sub {
  position: relative;
}

.dropdown-content-sub {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  background-color: #f9f9f9;
  will-change: transform;
  transform: translate3d(0, 0, 0);
  animation: slideinTopToBottom 0.5s forwards;
}

.dropdown-sub:hover .dropdown-content-sub {
  display: block;
}

@keyframes slidein {
  from {
    transform: translate3d(-100%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideinTopToBottom {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

/* Creating Top Bar menu symbols for the drop-down list */
.caret-down::before {
  content: "";
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid white;
  display: inline-block;
  margin-left: 5px;
  vertical-align: middle;
}

.caret-right::before {
  content: "";
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid white;
  display: inline-block;
  margin-left: 5px;
  vertical-align: middle;
}


  /* Responsive navigation menu (for mobile devices) */
  @media screen and (max-width: 600px) {
    .topnav a, .topnav-right {
      float: none;
      display: block;
    }

  }