@import url('font/Friz Quadrata Regular.ttf');

body {
  font-family: 'Friz Quadrata', sans-serif;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

body.loaded {
  transform: translateZ(0);
  transition: background-image 0.5s ease-in-out;
}

#image-wrapper {
  position: relative;
  width: 800px;
}

#dynamic-image,
#content,
#dynamic_iframe {
  opacity: 0;
  transition: opacity 1s ease-in-out;
  width: 800px; /* Only applicable for #dynamic-image */
}

#content.loaded,
.loaded #dynamic_iframe {
  opacity: 1;
}

* {
  text-shadow: 0 0 35px rgba(0, 0, 0, 1);
  color: #FFFFFF;
}

/* Responsive navigation menu (for mobile devices) */
@media screen and (max-width: 600px) {
  .navbar a {
    float: none;
    display: block;
  }
}

/* Puzzle CSS */
table.crossword,
.crossword td,
.sudokuTable table,
.sudokuTable td {
  border: 1px solid black;
  border-collapse: collapse;
  background-color: white;
}

.crossword td,
.sudokuTable td {
  width: 3em;
  height: 3em;
  vertical-align: top;
  color: black;
}

.crossword .black,
.blackCells {
  background-color: black;
}

.sudokuTable td:nth-child(3n),
.sudokuTable tr:nth-child(3n) td {
  border-right: 2px solid black;
}

.sudokuTable tr:nth-child(3n) {
  border-bottom: 2px solid black;
}

/* Navbar */
.navbar {
  border-radius: 7px;
  overflow: hidden;
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar a,
.dropdown .dropbtn {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn,
.dropdown-content a:hover {
  background-color: red;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.show {
  display: block;
}

.navbar-right {
  float: right;
}

.navbar a.active {
  background-color: #04AA6D;
  color: white;
}
